/* Ajustes generales */
body {
    font-family: 'Arial', sans-serif;
    background: url("../images/fondo.png") no-repeat center center fixed;
    background-size: cover;
    color: #141414; /* Color del texto principal */
    padding-top: 4.5rem; /* Espacio para el navbar fijo */
}

.custom-bg {
    background-color: #a4d8ff; /* Cambia este valor por el color que quieras */
}


.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #5a5a5a !important;
}

/* Estilo personalizado para el navbar */
.navbar-nav .nav-link {
    
    margin-right: 10px;
    font-family: 'Abril Fatface', cursive;  /* Cambiar la fuente */
    font-weight: 30px;  /* Cambiar el tamaño de la fuente */
    font-size: 19px;
    text-shadow: 3px 3px 6px white, -3px -3px 6px white, 3px -3px 6px white, -3px 3px 6px white;  /* Borde blanco más grueso */
    color: #0f0f0f !important;
}

.navbar-nav .nav-link:hover {
    color: #5e2494 !important; /* Azul destacado al pasar el mouse */
}


/* Títulos */
h1, h2, h3 {
    margin-top: 20px;
    font-family: 'Abril Fatface', cursive !important;  /* Cambiar la fuente */
    font-size: 80px !important;  /* Cambiar el tamaño de la fuente */
    color: #0a0101 !important;   /* Cambiar el color de la fuente */
    text-shadow: 3px 3px 6px white, -3px -3px 6px white, 3px -3px 6px white, -3px 3px 6px white;  /* Borde blanco más grueso */
    text-align: center;
}

/* Tarjetas de productos */
.card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/*TAMAÑO IMAGENES*/
.card-img-top {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 50%;
    position: center;
    margin: 0 auto;
}

/* Botones */
.btn-primary {
    background-color: #5355c5;
    border-color: #782df0;
}

.btn-primary:hover {
    background-color: #8bbcf0;
    border-color: #a3c5ea;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #020202;
    padding: 10px 0;
    text-align: center;
}

/* Formularios */
.form-control {
    border-radius: 0.5rem;
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(55, 55, 55, 0.5);
}

/* Espaciado adicional */
.section {
    padding: 40px 20px;
}

.paragraph-box {
    border: 2px solid #ccc; /* Borde del cuadro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    background-color: #f9f9f9; /* Fondo del cuadro */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    font-family: Arial, sans-serif; /* Cambiar la fuente si es necesario */
    font-weight: bold; /* Aplica negrilla */
    font-size: 20px; /* Tamaño de la fuente */ 

}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px; /* Define un alto específico si es necesario */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}


