{% extends 'base.html' %}

{% block content %}
<h2>Carrito de Compras</h2>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in carrito %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>${{ item.precio }}</td>
            <td>${{ item.precio * item.cantidad }}</td>
            <td><button>Eliminar</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/checkout" class="btn">Pagar</a>
{% endblock %}
