{% extends 'base.html' %}

{% block title %}Inicio - La Búfala Feliz{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Bienvenido a La Búfala Feliz</h2>
    <p class="paragraph-box">
        La Búfala Feliz es un yogur probiótico y semi descremado, extremadamente rico en calcio y fósforo, 
        con menos colesterol y sodio que el yogur de vaca. Ofrece el doble de proteínas, más vitaminas B2, B12, 
        potasio y magnesio, ayudando a prevenir la osteoporosis y promoviendo una alimentación saludable.
    </p>
    <div class="center-content">
        <img src="{{ url_for('static', filename='images/yogurinicio.png') }}" 
            alt="Yogur" class="img-fluid my-3" style="max-width: 500px;">
        <a href="{{ url_for('sabores') }}" class="btn btn-primary mt-3">Ver Sabores</a>
    </div>

<div class="container mt-5">
    <h3 class="text-center">Finca Vallecitos, vereda La Argentina</h3>
    <div class="text-center mt-4">
        <img src="{{ url_for('static', filename='images/bufalaenfinca.jpg') }}" 
            alt="Finca Vallecitos" class="img-fluid rounded shadow-lg mb-4" style="max-width: 100%; height: auto;">
    </div>
    <p class="paragraph-box">
        Agropecuaria Las Cascasas S.A.S opera en la finca Vallecitos, ubicada en la vereda La Argentina de Santa Isabel, 
        Tolima, Colombia, donde se crían búfalas y otros animales con un enfoque sostenible. De allí obtenemos leche de 
        alta calidad para la elaboración de nuestro yogur La Búfala Feliz, un yogur lleno de beneficios para la salud y producido con dedicación y esmero.
    </p>
    <p class="paragraph-box">
        Elaboramos cada yogur con amor, cuidando cada detalle del proceso para garantizar un producto nutritivo y delicioso. 
        Aunque ofrecemos pocos sabores, brindamos la posibilidad de personalizarlo según los gustos de nuestros clientes. 
        Nuestro compromiso es ofrecer alimentos saludables, naturales y frescos, impulsando una producción ética y responsable.
    </p>
</div>

{% endblock %}
