{% extends 'base.html' %}

{% block title %}Sabores - La Búfala Feliz{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Nuestros Sabores</h2>
<div class="row">
    {% for sabor in sabores %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Poner el boton dentro de un formulario en el bucle de sabores... -->
            <form action="{{ url_for('carrito.agregar_carrito') }}" method="POST">
                <input type="hidden" name="nombre" value="{{ sabor.nombre }}">
                <input type="hidden" name="descripcion" value="{{ sabor.descripcion }}">
                <input type="hidden" name="precio" value="{{ sabor.precio }}">
                <input type="hidden" name="imagen" value="{{ sabor.imagen }}">
                <button type="submit" class="btn btn-primary">Comprar</button>
            </form>
        </div> 

    </div>

    {% endfor %} 

</div>

{% endblock %}



<!--DEJAR AQUI-->
            <!-- <img src="{{ sabor.imagen }}" class="card-img-top" alt="{{ sabor.nombre }}">
            
            <div class="card-body">
                <h5 class="card-title">{{ sabor.nombre }}</h5>
                <p class="card-text">{{ sabor.descripcion }}</p>
                <p class="text-muted">Precio: ${{ sabor.precio }}</p>
                <--BOTONES->
                <a href="{{url_for('carrito')}}" class="btn btn-primary">Comprar</a>
                <button type="submit">Comprar</button>
            </div-->